<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="ServiceList" value="MUSE HL7 Parser 1,MUSE HL7 Parser 2,MUSE HL7 Parser 3,MUSE HL7 Parser 4"/>
    <add key="Keywords" value="Closing a TCP socket with local port number,9551,9552,9553,9550,8001,104,105,Standard"/>
    <add key="Sources" value="AFD"/>
    <add key="Timeout" value="10"/>    <!-- Seconds -->
    <add key="SMTP" value="192.168.20.71"/>
    <add key ="SMTPPORT" value="25"/>
    <add key ="FromMail" value="Muse@meuhedet.co.il"/>
    <add key="ToMail" value="moshek@eldan.biz"/>  <!--can use a list of e-mail seperated by commas i.e mail1@dom1,mail2@dom2 etc.-->
    <add key="LogPath" value="c:\serviceMonitor\logs\"/>
  </appSettings>
</configuration>


