<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
   
    <!--wich services we want to monitor - enter the ServiceName as listed in the service properties-->
    <add key="ServiceList" value="MuseADTServerV2,W32Time"/>
    
    <!--keyword to search threw the error log-->
    <add key="Keywords" value="Closing a TCP socket with local port number,9551,9552,9553,9550,8001,104,105,Standard"/>
    
     <!--for checking the event log , you can specify an error source-->
    <add key="Sources" value="AFD"/>

    <!--how many seconds to wait before checking services status  -->
    <add key="Timeout" value="10"/>   
    
    <!--Set SMTP for sending e-mail when the app finds a service is down or error entry -->
    <add key="SMTP" value="smtp.gmail.com"/>
    <add key ="SMTPPORT" value="25"/>
    <add key ="FromMail" value="moshekri@gmail.com"/>
    <add key="ToMail" value="moshekri@gmail.com"/>  <!--can use a list of e-mail seperated by commas i.e mail1@dom1,mail2@dom2 etc.-->

    <add key="UseSSL" value="true"/>
    <add key="SslPort" value="587"/>
    <add key="SmtpPassword" value="Moshe!Admin007"/>
    <add key="SmtpUsername" value="moshekri@gmail.com"/>

    <add  key="ResetDataInterval" value="5"/>  <!-- how much time will pass until we reset all data and recheck for stopped services   --> 
   
  </appSettings>
</configuration>


